@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Fredoka-Light;
        src: url(./assets/font/Fredoka-Light.ttf);
    }
    @font-face {
        font-family: Fredoka-Regular;
        src: url(./assets/font/Fredoka-Regular.ttf);
    }
    @font-face {
        font-family: Fredoka-Medium;
        src: url(./assets/font/Fredoka-Medium.ttf);
    }
    @font-face {
        font-family: Fredoka-SemiBold;
        src: url(./assets/font/Fredoka-SemiBold.ttf);
    }
    @font-face {
        font-family: Fredoka-ExtraBold;
        src: url(./assets/font/Fredoka-ExtraBold.ttf);
    }
    * {
        font-family: Fredoka-Regular, sans-serif;
    }
}
/* styles.css */

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* carousel */
.carousel-arrow {
    @apply flex items-center justify-center w-10 h-10 text-white bg-blue-900 border-none rounded-full;
}

.carousel-arrow:hover {
    @apply bg-blue-700;
}

.carousel-prev {
    left: -20px; /* Adjust positioning as needed */
}

.carousel-next {
    right: -20px; /* Adjust positioning as needed */
}
